:root {
  --red: linear-gradient(180deg, #a31b1b 46%, #b22323ad 83%);
  --green: linear-gradient(180deg, rgb(24 101 47 / 82%) 46%, rgb(16 57 28 / 91%) 83%);

  --main-bg-color: #001830;
  --card-color: #fff;
}

body {
  /*font-family: 'Henry',sans-serif;*/
  background: var(--main-bg-color) !important;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.card {
  height: 340px;
  perspective: 1200px;
  transform-style: preserve-3d;
  position: relative;
  opacity: 0;
}

.card__fav {
  position: absolute;
  top: -19px;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  background: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__fav img {
  width: 45px;
}
.card__date {
  top: 63px;
  transform: translateX(-50%);
  left: 50%;
  background: var(--card-color);
  color: var(--main-bg-color);
  white-space: nowrap;
}
.card--past .card__date,
.card--past .card__count {
  color: #fff;
  background: transparent;
}
.card--active .card__count {
  bottom: 60px;
}
.card__count {
  bottom: 10px;
  font-size: 20px;
  transform: translateX(-50%);
  left: 50%;
  background: var(--card-color);
  color: var(--main-bg-color);
}

#main-countdown {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*  .card__fav:before, .card__fav::after {*/
/*  content:'';*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  display: block;*/
/*  position: absolute;*/
/*  background: #001830;*/
/*}*/

/*.card__fav:before {*/
/*  left: -39px;*/
/*}*/

/*.card__fav:after {*/
/*  right: -39px;*/
/*}*/
.card:not(.card--done) {
  cursor: pointer;
}

.card__body {
  width: 100%;
  height: 100%;
  z-index: 1;
  backface-visibility: hidden;
  position: absolute;
  transform: none;
}

.ui-widget-overlay.ui-front {
  background-color: black;
  background-image: none;
  opacity: 0.9;
  z-index: 1040;
}

.btns-container {
  display: flex;
  justify-content: space-around;
}

#name {
  font-size: 20px;
}

.card__back {
  transform: rotateY(180deg);
  background-color: #ebf4ff;
}

.card__back.flipped {
  transform: perspective(1000px) rotateY(0deg);
}

.card__front {
  transform: rotateY(0deg);
}

.card__front img {
  max-height: 100%;
  object-fit: contain;
  border-radius: 0 0 25% 26%;
}
.card__content {
  overflow: hidden;
}
.card__front.flipped {
  transform: perspective(1000px) rotateY(180deg);
}
.card__front,
.card__back {
  width: 100%;
  height: 100%;
  transition: transform 0.9s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--card-color);
  border-radius: 0.5rem;
  box-shadow:
    rgba(0, 0, 0, 0.106) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.02) 0px 9px 20px 0px,
    rgba(0, 0, 0, 0.106) 0px 1px 2px 0px;
  display: flex;
  align-items: center;
  color: #000;
  justify-content: center;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 320px;

  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
}

.root-flipped .badge-passed {
  opacity: 0;
}
.card--past {
  overflow: hidden;
}
.card--past .card__front,
.card--past .card__back {
  background: var(--red);
}
.card--done .card__front {
  background: var(--green);
}
.card--past .card__front,
.card--past .card__back {
  color: var(--card-color);
}
.card--active {
  z-index: 1;
}
.card.card--active:hover .card__front:not(.flipped) {
  transform: perspective(1000px) rotateY(10deg);
}
.badge-passed {
  z-index: 10;
}
.today {
  text-align: center;
  position: absolute;
  background: var(--card-color);
  border-radius: 50%;
  top: -28px;
  right: -28px;
  height: 59px;
  font-size: 12px;
  width: 59px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 1px 1px #0000004d;
  text-align: center;
  color: #000;
  justify-content: center;
  z-index: 10;
  transition: all 0.9s ease;
  will-change: contents;
}

.today.flipped {
  transform: perspective(1000px) translate3d(-236px, 0, 0) rotate(360deg);
}

.task-actions {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.task-actions > * {
  margin-bottom: 10px;
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  border: 3px solid #dc2625;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-right: 5px;
}
.user-list__item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.user-list__item:last-child {
  margin-bottom: 0;
}

#sticky {
  width: 186px;
  padding: 10px;
}

.user-btn {
  width: 100px;
}

.loader {
  background: #ffd940;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --fire-size: 20vw;
}
.fire {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  height: var(--fire-size);
  width: var(--fire-size);
}
.loader h2 {
  position: absolute;
  top: 80%;
  width: 90%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  /*background: -webkit-linear-gradient(#fed100, #a22a07);*/
  font-size: 20px;
  color: #fff;
}

body .fire .flames {
  position: absolute;
  bottom: 40%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translateX(-50%) rotate(45deg);
}
body .fire .flames .flame {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 0%;
  height: 0%;
  background-color: #ffdc01;
  border-radius: 1vw;
}
body .fire .flames .flame:nth-child(2n + 1) {
  -webkit-animation: flameodd 1.5s ease-in infinite;
  animation: flameodd 1.5s ease-in infinite;
}
body .fire .flames .flame:nth-child(2n) {
  -webkit-animation: flameeven 1.5s ease-in infinite;
  animation: flameeven 1.5s ease-in infinite;
}
body .fire .flames .flame:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
body .fire .flames .flame:nth-child(2) {
  -webkit-animation-delay: 0.375s;
  animation-delay: 0.375s;
}
body .fire .flames .flame:nth-child(3) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
body .fire .flames .flame:nth-child(4) {
  -webkit-animation-delay: 1.125s;
  animation-delay: 1.125s;
}
body .fire .logs {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 15%;
}
body .fire .logs:before,
body .fire .logs:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  height: 100%;
  width: 100%;
  border-radius: 1vw;
  background-color: #70392f;
}
body .fire .logs:before {
  transform: translate(-50%, -50%) rotate(-20deg);
  background-color: #612e25;
}

@-webkit-keyframes flameodd {
  0%,
  100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #ffdc01;
    z-index: 1000000;
  }
  40% {
    background-color: #fdac01;
    z-index: 1000000;
  }
  100% {
    background-color: #f73b01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 1%;
    bottom: 2%;
  }
  100% {
    right: 150%;
    bottom: 170%;
  }
}

@keyframes flameodd {
  0%,
  100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #ffdc01;
    z-index: 1000000;
  }
  40% {
    background-color: #fdac01;
    z-index: 1000000;
  }
  100% {
    background-color: #f73b01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 1%;
    bottom: 2%;
  }
  100% {
    right: 150%;
    bottom: 170%;
  }
}
@-webkit-keyframes flameeven {
  0%,
  100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #ffdc01;
    z-index: 1000000;
  }
  40% {
    background-color: #fdac01;
    z-index: 1000000;
  }
  100% {
    background-color: #f73b01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 2%;
    bottom: 1%;
  }
  100% {
    right: 170%;
    bottom: 150%;
  }
}
@keyframes flameeven {
  0%,
  100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #ffdc01;
    z-index: 1000000;
  }
  40% {
    background-color: #fdac01;
    z-index: 1000000;
  }
  100% {
    background-color: #f73b01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 2%;
    bottom: 1%;
  }
  100% {
    right: 170%;
    bottom: 150%;
  }
}

.modal .content {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.month {
  letter-spacing: 0px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card {
  animation: 1s fadeIn forwards ease-in-out;
}

.modal--noty {
  padding: 0 !important;
  margin: 0;
}

.modal--noty img {
  width: 100%;
}
.modal--noty h1 {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  position: absolute;
}

.user-btn {
  background: #111827 !important;
}

.zoom-btn {
  background: var(--red);
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.scroll-btn {
  background: var(--red);
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.table-cards {
  width: 100%;
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(46px, 1fr));*/
  grid-template-columns: repeat(7, 1fr);

  gap: 5px;
  position: relative;
}

.table-cards__item {
  /*width: 50px;*/
  height: 70px;
  background: var(--red);
  border-radius: 10px;
  position: relative;
  z-index: 111;
}
.table-cards__day {
  position: absolute;
  color: #fff;
  right: 5px;
  font-weight: bold;
  bottom: 5px;
}

.table-cards__item--done {
  background: var(--green);
}

.table-cards__item-pic {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100%;
  width: 100%;
}
.table-cards__item-pic i {
  font-size: 20px;
}
.table-cards__item-pic img {
  width: 78%;
}

#table-cards-modal {
  padding: 10px;
}

.table-cards__item .today {
  font-size: 6px;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -13px;
}
.table-cards__item--today {
  box-shadow: 1px 1px 1px 1px #0000004d;
  z-index: 1111;
}
.today-timer {
  position: absolute;
  bottom: 20px;
  font-weight: bold;
}

.fire-pic {
  display: inline-block;
  width: 112px;
  vertical-align: top;
  margin-left: -23px;
}

.logo {
  font-weight: bold;
  font-size: 26px;
}
.logo__highlight {
  color: var(--red);
}

.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.toggle-btn {
  position: relative;
  height: 30px;
  width: 70px;
  background-color: #09090bb8;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.toggle-btn.toggle-btn--done {
  background: #ffd70078;
}
.toggle-btn .icon {
  position: absolute;
  top: 50%;
  left: -1px;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #09090bb8;
  border: 1px solid #999;
  border-radius: 50%;
  transition: all 0.4s ease;
}
.toggle-btn.toggle-btn--done .icon {
  left: calc(100% - 38px);
  color: #fff;
  background: gold;
  border: 1px solid gold;
}
.toggle-btn.toggle-btn--done .icon i {
  animation: spin 0.5s;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.version {
  font-size: 30px;
  letter-spacing: 0px;
}

span.second-day {
  position: absolute;
  top: 116px;
  left: 128px;
  font-size: 33px;
  color: #000;
  transform: rotate(-46deg) skew(0deg, 17deg);
}

span.first-day {
  position: absolute;
  top: 128px;
  left: 74px;
  font-size: 33px;
  color: #000;
  transform: rotate(-39deg) skew(0deg, 19deg);
}

.date-range {
  font-size: clamp(18px, 4vw, 40px) !important;
}
/*//mobile*/
@media screen and (max-width: 425px) {
  #table-cards-modal {
    padding: 5px;
  }

  .version {
    font-size: 17px;
  }

  #sticky {
    width: 200px !important;
  }
  .header {
    font-size: 47px !important;
  }
}
@media screen and (max-width: 900px) {
  :root {
    --fire-size: 40vh;
  }
  .modal--noty h1 {
    font-size: 25px;
  }
  .zoom-btn {
    right: 10px;
    bottom: 20px;
  }
  .fire-pic {
    width: 50px;
    vertical-align: middle;
    margin-left: -11px;
  }
  .modal {
    width: 97% !important;
  }
}
@media screen and (min-width: 900px) {
  #table-cards-modal {
    max-width: 400px;
  }
}

body {
  overflow: hidden;
}
video {
  object-fit: none;
  position: absolute;
  z-index: -11;
  filter: blur(5px);
  max-height: 300px;
  width: 100vw;
}

.anim-item {
  position: absolute;
  opacity: 0;
}

/* Item 1: из левого верхнего угла */
.anim-item:nth-of-type(1) {
  left: 0;
  top: 0px;
  max-width: 500px;
  animation: slideInFromTopLeft 1s ease-out 0.2s forwards;
}

@keyframes slideInFromTopLeft {
  from {
    opacity: 0;
    transform: translate(-100px, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Item 2: из правого нижнего угла */
.anim-item:nth-of-type(2) {
  right: 0;
  bottom: 0;
  max-width: 300px;
  animation: slideInFromBottomRight 1s ease-out 0.4s forwards;
}

@keyframes slideInFromBottomRight {
  from {
    opacity: 0;
    transform: translate(100px, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Item 3: из левого нижнего угла */
.anim-item:nth-of-type(3) {
  left: 0;
  bottom: 0;
  max-height: 450px;
  animation: slideInFromBottomLeft 1s ease-out 0.6s forwards;
}

@keyframes slideInFromBottomLeft {
  from {
    opacity: 0;
    transform: translate(-150px, 150px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Item 4: из правого верхнего угла (за границы) */
.anim-item:nth-of-type(4) {
  top: -100px;
  right: -300px;
  animation: slideInFromTopRight 1.2s ease-out 0.8s forwards;
}

@keyframes slideInFromTopRight {
  from {
    opacity: 0;
    transform: translate(200px, -200px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Item 5: из центра экрана (с масштабом) */
.anim-item:nth-of-type(5) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: zoomIn 1s ease-out 1s forwards;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Item 5: из центра экрана (с масштабом) */
.anim-item:nth-of-type(6) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: zoomIn 1s ease-out 1s forwards;
  animation-delay: 3s;
}
.say {
  position: absolute;
  background: #fff;
  color: #000;
  padding: 20px;

  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(14%, 36%);
  box-shadow: 1px 1px 9px 1px #00000063;
}

.say-0 {
  animation: fade 1s ease-out 1s forwards;
  animation-delay: 1s;
  z-index: 8;
}

.say-1 {
  animation: fade 1s ease-out 1s forwards;
  animation-delay: 8s;
  z-index: 9;
}

.say-2 {
  animation: fade 1s ease-out 1s forwards;
  animation-delay: 13s;
  z-index: 10;
}

.say-3 {
  animation: fade 1s ease-out 1s forwards;
  animation-delay: 16s;
  z-index: 11;
}
@keyframes fade {
  from {
    opacity: 0;
    top: 45%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

.l-wrap {
  position: absolute;

  height: 100vh;
  width: 100vw;
  background: var(--main-bg-color) !important;
  z-index: 100;
}

.loaderr {
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Rubik Glitch', system-ui;
  font-weight: bold;
  font-style: normal;
  font-weight: bold;
  font-style: normal;
}
.say .text {
  /* background: #001830;
  color: #fff; */
  margin-bottom: 4px;
  padding: 4px;
}

input,
button {
  border: 1px solid #000;
  font-family: 'Rubik Glitch', system-ui;
  padding: 10px;
}

.upload {
  position: absolute;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(135deg, #001830, #145ea8, #ff9ff3, #54a0ff);
  background-size: 300% 300%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow:
    0 10px 30px rgba(255, 107, 107, 0.4),
    inset 0 2px 0 rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 1px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinIn 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

@keyframes spinIn {
  0% {
    opacity: 0;
    transform: rotate(-360deg) scale(0.3);
  }
  50% {
    opacity: 0.7;
    transform: rotate(-180deg) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1) translate(-50%, -50%);
  }
}

.upload:hover {
  transform: translateY(-3px);
  box-shadow:
    0 20px 40px rgba(255, 107, 107, 0.6),
    inset 0 2px 0 rgba(255, 255, 255, 0.4);
  background-position: 100% 0;
}

.upload:active {
  transform: translateY(-1px);
}

.upload::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: left 0.5s;
}

.upload:hover::before {
  left: 100%;
}

/* Анимация получения подарка */
@keyframes celebrate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1);
  }
}

.gift-button.success {
  animation: celebrate 0.6s ease;
  background: linear-gradient(135deg, #00b894, #00cec9);
}
